
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-bady">
                    <form action="/estudiantes/agregar" method="post">
                        <div class="form-group">
                            <label for="">Registrar</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="num1" id="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="num2" id="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">resultado</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>