<h3>soy eliminar</h3>
<h3>yo soy agregar</h3>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-bady">
                    <form action="/estudiantes/eliminar" method="post">
                        <div class="form-group">
                            <label for="">eliminar</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="usuario" id="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="contrasena" id="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>